build*/
bin/
docs/
.cache/
.vscode/
*.so
*.dylib
*.dll
*.lib
*.pdb
*.exe
cgab-*
*.configuration
compile_commands.json
.zig-cache
vendor/ta.h
etag.txt
vendor/llhttp.h
cacert.pem
vendor/duckdb.cc
vendor/sqlite3.c
MyCertificate.crt
MyKey.key
cert_pubkey.pem
key_pubkey.pem
/elf2stencil
/vendor/duckdb.hpp
/vendor/duckdb.cpp
