[submodule "vendor/jsmn"]
	path = vendor/jsmn
	url = https://github.com/zserge/jsmn
[submodule "vendor/curl"]
	path = vendor/curl
	url = https://github.com/curl/curl.git
[submodule "vendor/zip"]
	path = vendor/zip
	url = https://github.com/nih-at/libzip.git
[submodule "vendor/termbox"]
	path = vendor/termbox
	url = https://github.com/termbox/termbox2.git
[submodule "vendor/libgrapheme"]
	path = vendor/libgrapheme
	url = https://git.suckless.org/libgrapheme
[submodule "vendor/qio"]
	path = vendor/qio
	url = https://github.com/TeddyRandby/qio.git
