build*/
bin/
docs/
.cache/
.vscode/
mod/*.so
mod/*.dylib
mod/*.dll
mod/*.lib
mod/*.pdb
*.exe
cgab-*
compile_commands.json
configuration
.zig-cache
vendor/ta.h
etag.txt
libgrapheme_generated
libllhttp_generated
vendor/llhttp.h
cacert.pem
vendor/duckdb.cc
vendor/sqlite3.c
