name: Build and test pull requests

#
# This action tests pull requests.
#
# Currently, all windows builds are disabled.
#
# This is because there are some c-abi issues with zig cc, and these affect
# only the windows platform. Until these bugs are fixed in zig cc, Gab will not
# support windows.
#
# (Unless I feel ike refactoring all the code that is using these abi features - passing structs as arguments).

on:
  pull_request:
    branches: [ "main" ]

env:
  version: 0.0.5
  GH_TOKEN: ${{ github.token }}

jobs:
  build_artifacts:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'

      # Zig is the C compiler used by the build system
    - name: Setup Zig
      uses: mlugg/setup-zig@v2
      with:
        version: master

      # Build system depends on Go
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'

    - uses: actions/setup-node@v5
      with:
        node-version: 24

      # Build system tool
    - name: Install Clide
      run: go install github.com/TeddyRandby/clide@latest

    - name: Configure
      run: clide configure -b='x86_64-linux-gnu x86_64-macos-none aarch64-linux-gnu aarch64-macos-none' -t='release'

    - name: Build
      run: clide build

    - name: Move native modules
      run: cp build-*/mod* mod

    - name: Create bundles
      run: |
         ./gab build -p x86_64-linux-gnu   < bundle
         ./gab build -p x86_64-macos-none  < bundle
         ./gab build -p aarch64-linux-gnu  < bundle
         ./gab build -p aarch64-macos-none < bundle

    - name: Create Cross-Compiled Test binary
      run: |
         ./gab build -p x86_64-linux-gnu -m cgab,cgui,tests test 
         mv test.exe test.cgab-${{ version }}-x86_64-linux-gnu.exe

         ./gab build -p x86_64-macos-none -m cgab,cgui,tests test  
         mv test.exe test.cgab-${{ version }}-x86_64-macos-none.exe

         ./gab build -p aarch64-linux-gnu -m cgab,cgui,tests test 
         mv test.exe test.cgab-${{ version }}-aarch64-linux-gnu.exe

         ./gab build -p aarch64-macos-none -m cgab,cgui,tests test 
         mv test.exe test.cgab-${{ version }}-aarch64-macos-none.exe

    - name: Upload x86_64-linux-gnu Binary Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        name: 'gab-x86_64-linux-gnu-release'
        path: 'build-x86_64-linux-gnu/gab'

    - name: Upload x86_64-linux-gnu Bundle Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        path: 'cgab-${{ version }}-x86_64-linux-gnu'

    - name: Upload x86_64-linux-gnu Test Executable Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        path: 'test.cgab-${{ version }}-x86_64-linux-gnu.exe'

    - name: Upload aarch64-linux-gnu Binary Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        name: 'gab-aarch64-linux-gnu-release'
        path: 'build-aarch64-linux-gnu/gab'

    - name: Upload aarch64-linux-gnu Bundle Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        path: 'cgab-${{ version }}-aarch64-linux-gnu'

    - name: Upload aarch64-linux-gnu Test Executable Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        path: 'test.cgab-${{ version }}-aarch64-linux-gnu.exe'

    - name: Upload x86_64-macos-none Binary Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        name: 'gab-x86_64-macos-none-release'
        path: 'build-x86_64-macos-none/gab'

    - name: Upload x86_64-macos-none Bundle Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        path: 'cgab-${{ version }}-x86_64-macos-none'

    - name: Upload x86_64-macos-none Test Executable Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        path: 'test.cgab-${{ version }}-x86_64-macos-none.exe'

    - name: Upload aarch64-macos-none Binary Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        name: 'gab-aarch64-macos-none-release'
        path: 'build-aarch64-macos-none/gab'

    - name: Upload aarch64-macos-none Bundle Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        path: 'cgab-${{ version }}-aarch64-macos-none'

    - name: Upload aarch64-macos-none Test Executable Artifact
      uses: pyTooling/upload-artifact@v4
      with:
        path: 'test.cgab-${{ version }}-aarch64-macos-none.exe'

  run_tests:
    strategy:
      matrix:
        build_type:
          - release
        os: 
          - ubuntu-latest
          - macos-latest
          # - windows-latest
        include:
          - os: ubuntu-latest
            target: x86_64-linux-gnu
            cmd: ./build-x86_64-linux-gnu/gab
          - os: macos-latest
            target: aarch64-macos-none
            cmd: ./build-aarch64-macos-none/gab
          # - os: windows-latest
          #   target: x86_64-windows-gnu
          #   cmd: .\build-x86_64-windows-gnu\gab

    runs-on: ${{ matrix.os }}
    needs: build_artifacts

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Download Binary
        uses: pyTooling/download-artifact@v4
        with:
          name: 'gab-${{ matrix.build_type }}-${{ matrix.target }}'

      - name: Download Modules
        uses: pyTooling/download-artifact@v4
        with:
          name: cgab-${{ version }}-${{ matrix.build_type }}

      - name: Download Modules
        uses: pyTooling/download-artifact@v4
        with:
          name: test.cgab-${{ version }}-${{ matrix.build_type }}.exe

      - name: Unzip Modules
        run: unzip -o cgab-${{ version }}-${{ matrix.build_type }}

      - name: Gab Build Bundle
        run: |
          ${{ matrix.cmd }} build -m cgui,cgab,tests test

      # - name: Make the binary executable (win)
      #   if: ${{ contains(matrix.target, 'windows') }}
      #   run: |
      #     move gab gab.exe
      #     where.exe "gab"
      #     Get-Command ".\gab"

      - name: Run help
        run: ${{ matrix.cmd }} help

      - name: Run Smallest Hello World
        run: ${{ matrix.cmd }} exec "'hello world!'"

      - name: Run Hello World
        run: ${{ matrix.cmd }} exec "'hello world!' .println"

      - name: Run tests
        run: ${{ matrix.cmd }} run test

      - name: Run tests bundle
        run: ./test.exe

      - name: Move cross-compiled to test
        run: mv test.cgab-${{ version }}-${{ matrix.build_type }}.exe test.exe

      - name: Run cross-compiled tests bundle
        run: ./test.exe
